# Bot Credentials
BOT_TOKEN=your_bot_token
BOT_USERNAME=your_bot_username
OWNER_ID=your_user_id
DOWNLOADS_DIRECTORY=downloads/

# Database Credentials

# Adjust according to the URL and database name
DB_URL=jdbc:postgresql://db:5432/telegram_bot

DB_PASSWORD=your_database_password
DB_USER=your_database_user

# Database name used by PostgreSQL container
POSTGRES_DB=your_database_name
